* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-color: rgb(237, 217, 183); /* Yosemite Ivory */
  color: rgb(53, 51, 38); /* Granite Shadows */
}

/* === Navbar === */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  z-index: 100;
  background: rgba(53, 51, 38, 0.85); /* Granite Shadows semi transparan */
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 25px;
}

.navbar ul li a {
  color: rgb(237, 217, 183); /* Ivory */
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: rgb(239, 213, 149); /* Summit Blush */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.logo-text {
  color: rgb(237, 217, 183);
  font-weight: bold;
  font-size: 22px;
}
